<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Registration</title>
</head>
<body>
Add new user
<p th:text="${message}" />
<form th:object="${user}" th:action="@{/registration}" method="post">
    <div><label> Name : <input type="text" name="username" th:field="*{name}"/> </label></div>
    <div><label> Age: <input type="number" name="age" th:field="*{age}"/> </label></div>
    <div><label> Password: <input type="password" name="password" th:field="*{password}"/> </label></div>
    <div><input type="submit" value="Registration"/></div>
</form>
</body>
</html>